* {
  cursor: default;

}

html {
  height: 100%;
  background: linear-gradient(-50deg, rgb(10, 35, 55), rgb(6, 19, 34));
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 2px black;
}

header p {
  font-size: 20px;
  margin-top: -53px;
  margin-left: -440px;
}

main {
  display: flex;
  flex-direction: column;
}

#inputContainer {
  margin: 50px auto 0 auto;
  width: 400px;
  /* border: 1px solid #9a4700; */
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 30px;


}

#inputContainer p {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 3px 3px 2px black;
}

input {
  border: none;
  height: 30px;
  border-bottom: 2px solid #9a4700;
  cursor: text;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
}

input:focus {
  border: 1.5px solid #6c3301;
  border-radius: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #9a4700;
  border-color: grey
}

button:active {
  background-color: #6c3301;
}

#palindromeDef {
  width: 300px;
  margin: 100px auto 0 auto;
  background-color: #9a4700;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  cursor: default;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px;
  text-shadow: 3px 3px 2px #6c3301;

}

#result {
  display: none;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #9a4700;
  color: black;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px;
  font-family: 'Courier New', Courier, monospace;
  text-wrap: wrap;
  text-shadow: 3px 3px 2px #6c3301;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 678px) {
  header p {
    display: none;
  }
}
